@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';

:root {
  --lightPink : #F4F0E9;
  --darkText: #352711;
  --accentBrwn: #E69149;
}

@theme {
  --color-lightPink: var(--lightPink);
  --color-darkText: var(--darkText);
  --color-accentBrwn: var(--accentBrwn);
  --font-dmSans: 'DM Sans', sans-serif;
  --font-bodoni: 'Libre Bodoni', sans-serif;
}

.op {
  background-color: rgba(0, 0, 0, 0.336);
}