@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';

:root {
  --lightPink : #F4F0E9;
  --darkText: #352711;
  --accentBrwn: #E69149;
}

@font-face {
  font-family: 'Agraham'; /* Give your font a name */
  src: url('/Agraham.otf') format('opentype'); /* Path to the OTF file */
  font-weight: normal; /* Adjust if needed (e.g., 400, 700) */
  font-style: normal; /* Optional: italic, oblique */
}

@theme {
  --color-lightPink: var(--lightPink);
  --color-darkText: var(--darkText);
  --color-accentBrwn: var(--accentBrwn);
  --font-dmSans: 'DM Sans', sans-serif;
  --font-bodoni: 'Libre Bodoni', sans-serif;
  --font-agraham: 'Agraham', sans-serif;
}

.op {
  background-color: rgba(0, 0, 0, 0.336);
}

.rotate:hover .pr {
  transform: rotate(12deg) scale(1.25) translateY(-80px);
}

.brwnGrad {
  background: rgb(240,192,126);
  background: linear-gradient(138deg, rgba(240,192,126,1) 0%, rgba(240,192,126,1) 56%, rgba(252,236,215,1) 100%); 
}

.darkGrad {
  background: rgb(119,53,39);
  background: linear-gradient(43deg, rgba(119,53,39,1) 42%, rgba(0,0,0,1) 100%); 
}

.slick-slider .slick-dots {
  transform: translateY(-40px)
}

/* Ensure higher specificity for the dots */
.slick-slider .slick-dots li button:before {
  font-size: 16px; /* Increase dot size */
  color: #2d2d2d !important; /* Default gray-800 color */
}

.slick-slider .slick-dots li.slick-active button:before {
  color: var(--accentBrwn) !important; /* Change to accentBrwn when active */
}

.cart {
  background-image: url(https://bloximages.chicago2.vip.townnews.com/seenthemagazine.com/content/tncms/assets/v3/editorial/0/07/007cac41-89c8-5c24-ac32-30cb2b3f7332/62fdbc803c2b1.image.jpg?crop=1175%2C1175%2C294%2C0);
}

.clrOverlay {
  background-color: #e6924980;
}